{% extends 'webapp/base.html' %}

{% block content %}
    
<body>

    <!-- Logo section -->
    <div class="text-center">
        <img src="/static/assets/logo.png" alt="EEE Logo" class="logo">
    </div>

    <br>
    <br>

    <!-- Welcome message -->
    <div class="text-center">
        <h1>Welcome to the EEE (Encryption Elite Enforcers) Password Manager</h1>
        <p>This app was built for students and businesses alike to better manage your passwords and sensitive information.</p>
    </div>
    <br>
        <!-- Call to action button -->
    <div class="text-center">
        <a class="btn btn-primary" type="button" href="{% url 'register' %}">Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i></a>
    </div>
    <br>
    <!-- Team section -->
    <div class="text-center">
        <h2>Our Team</h2>
        <p>Meet the dedicated individuals behind this project:</p>
        <ul>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Colleen Malatji  <a href="https://www.linkedin.com/in/colleen-malatji-25281a17b/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/C01133n" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Kopano Maluleke  <a href="https://github.com/KopanoMaluleke target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/kopano-profile" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Sinoviyo  Gcanga  <a href="https://www.linkedin.com/in/sinovuyo-gcanga-b1b035189/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/SinovuyoG" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Zainap Van Blerck  <a href="https://www.linkedin.com/in/zainap-van-blerck-928277251/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/Zainap16" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><span class="icon"><i class="fas fa-user-tie"></i></span> Shaqeel Less  <a href="https://www.linkedin.com/in/shaqeel-less-11979a186/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/MogammadShaqeelless16" target="_blank"><i class="fab fa-github"></i></a></li>
            <!-- Add more team members and their roles -->
        </ul>
    </div>

    <!-- Open source message -->
    <div class="text-center">
        <p>This project is open source and contributions are welcome. Visit our GitHub repository to learn more.</p>
        <a href="https://github.com/MogammadShaqeelless16/Password_Manager_Python/tree/main" class="btn btn-secondary">GitHub Repository</a>
    </div>

    <br>



    <!-- Add your JavaScript or other scripts here -->
</body>


{% endblock %}
