{% extends 'webapp/base.html' %}
{% block content %}
<h1>Check Password Strength</h1>
<input type="password" id="password-input" placeholder="Enter your password">
<button id="check-btn">Check Password Strength</button>
<p id="strength-result"></p>

<script>
document.getElementById('check-btn').addEventListener('click', function() {
    var password = document.getElementById('password-input').value;
    var strength = calculatePasswordStrength(password);
    displayStrength(strength);
});

function calculatePasswordStrength(password) {
    var strength = 0;
    
    // Check length
    if (password.length >= 8) {
        strength += 1;
    }
    
    // Check uppercase letters
    if (/[A-Z]/.test(password)) {
        strength += 1;
    }
    
    // Check lowercase letters
    if (/[a-z]/.test(password)) {
        strength += 1;
    }
    
    // Check numbers
    if (/\d/.test(password)) {
        strength += 1;
    }
    
    // Check special characters
    if (/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(password)) {
        strength += 1;
    }
    
    return strength;
}
// strength gets inncreased by length of password
function displayStrength(strength) {
    var strengthText = '';
    if (strength === 0) {
        strengthText = 'Very Weak';
    } else if (strength === 1) {
        strengthText = 'Weak';
    } else if (strength === 2) {
        strengthText = 'Moderate';
    } else if (strength === 3) {
        strengthText = 'Strong';
    } else if (strength >= 4) {
        strengthText = 'Very Strong';
    }
    
    document.getElementById('strength-result').innerText = 'Password Strength: ' + strengthText;
}
</script>
{% endblock %}
