{% extends 'webapp/base.html' %}
{% block content %}
<h1>Encrypt Password</h1>
<input type="text" id="password-input" placeholder="Enter your password">
<button id="encrypt-btn">Encrypt Password</button>
<p id="encrypted-result"></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script>
document.getElementById('encrypt-btn').addEventListener('click', function() {
    var password = document.getElementById('password-input').value;
    var encryptedPassword = encryptPassword(password);
    document.getElementById('encrypted-result').innerText = 'Encrypted Password: ' + encryptedPassword;
});

function encryptPassword(password) {
    var key = CryptoJS.enc.Utf8.parse('YourEncryptionKey'); // Use a strong encryption key
    var iv = CryptoJS.enc.Utf8.parse('YourInitializationVector'); // Use a strong initialization vector
    var encrypted = CryptoJS.AES.encrypt(password, key, { iv: iv });
    return encrypted.toString();
}
</script>
{% endblock %}
