{% extends 'webapp/base.html' %}
{% block content %}
<h1>Generate Password</h1>
<p id="password-result">Generated Password: <span id="generated-password"></span></p>
<button id="generate-btn">Generate Password</button>
<button id="copy-btn" style="display:none;">Copy Password</button>

<script>
document.getElementById('generate-btn').addEventListener('click', function() {
    var length = 12; // Define the length of the password
    var characters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()-_=+';
    var password = '';
    for (var i = 0; i < length; i++) {
        password += characters.charAt(Math.floor(Math.random() * characters.length));
    }
    document.getElementById('generated-password').innerText = password;
    document.getElementById('copy-btn').style.display = 'inline'; // Show copy button
});

document.getElementById('copy-btn').addEventListener('click', function() {
    var passwordText = document.getElementById('generated-password');
    var range = document.createRange();
    range.selectNode(passwordText);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(range);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
    alert('Password copied to clipboard');
});
</script>
{% endblock %}
